@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}

.hero {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-column: span 2;
  }
}

.hero .title {
  font: var(--font-title-big);
  margin-bottom: 8px;
}

.hero .hero__text {
  font: var(--font-text-big);
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
}



/* COMPONENTS */

.title {
  text-align: center;
  text-transform: capitalize;
}





/* ICONS */

.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--color-greyish-brown-two);
}

.icon__www {
  background-image: url('../../images/icons/globe-solid.svg');
}

.icon__github {
  background-image: url('../../images/icons/github.svg');
}
